@media (max-width: 1199.98px) {

  /* GLOBAL */
  .container {
    width: 990px;
  }

  /* /GLOBAL */
  /* HEADER */
  .header__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }

  .header {
    flex-wrap: wrap;
    -ms-align-items: center;
    height: 100px;
  }

  .header>* {
    width: auto;
  }

  .header__slogan {
    width: 100%;
    text-align: center;
    order: 3;
  }

  /* /HEADER */
  /* PROMOTION */
  .promotion {
    padding: 132px 15px;
  }

  .promotion>p {
    width: 100%;
  }

  /* /PROMOTION */
  /* FOOTER */
  /* /FOOTER */
}

@media (max-width: 991.98px) {

  /* GLOBAL */
  .container {
    width: 768px;
  }

  /* /GLOBAL */
  /* FOOTER */
  .footer__wrapper {
    height: auto;
  }

  .footer {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }

  .footer>.footer__logo {
    display: none;
  }

  .footer__contacts {
    align-self: center;
    text-align: center;
    margin-bottom: 35px;
  }

  .footer__developedBy {
    text-align: center;
  }

  .footer__developedBy {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
  }

  .footer__developedBy>.footer__logo {
    margin-right: 25px;
    display: block;
  }

  /* /FOOTER */
}

@media (max-width: 767.98px) {

  /* GLOBAL */
  .container {
    width: 576px;
  }

  /* /GLOBAL */
  /* PROMOTION */
  .promotion {
    padding: 132px 15px 50px 15px;
  }

  .promotion>h1 {
    font-size: 48px;
    width: 475px;
  }

  .promotion>p {
    font-size: 22px;
    width: 475px;
  }

  /* /PROMOTION */
}

@media (max-width: 575.98px) {

  /* GLOBAL */
  .wrapper {
    min-height: auto;
  }

  .container {
    width: 100%;
  }

  /* /GLOBAL */
  /* HEADER */
  .header__wrapper {
    height: auto;
  }

  .header {
    padding: 15px;
    height: auto;
    box-sizing: border-box;
  }

  .header__title, .header__phone {
    font-size: 18px;
  }

  .header__slogan {
    margin-top: 15px;
    font-size: 16px;
  }

  /* /HEADER */
  /* PROMOTION */
  .promotion {
    padding: 82px 15px 175px 15px;
  }

  .promotion>h1 {
    font-size: 34px;
    width: 100%;
    margin-bottom: 15px;
  }

  .promotion>p {
    font-size: 18px;
    width: 100%;
    margin-bottom: 25px;
  }

  .promotion>a {
    margin: auto;
  }

  /* /PROMOTION */
  /* FOOTER */
  .footer {
    padding: 35px 15px;
  }

  .footer__developedBy>.footer__logo {
    margin-right: 15px;
  }

  .footer__developedBy>div:last-child {
    width: 175px;
  }

  /* /FOOTER */
}

@media (max-width: 374.98px) {

  /* HEADER */
  .header__wrapper {
    height: auto;
  }

  .header {
    padding: 5px;
    height: auto;
    box-sizing: border-box;
  }

  .header__title, .header__phone {
    font-size: 17px;
  }

  .header__slogan {
    margin-top: 15px;
    font-size: 16px;
  }

  /* /HEADER */
  /* PROMOTION */
  .promotion {
    padding: 132px 5px 125px 5px;
  }

  /* /PROMOTION */
}